
<!DOCTYPE html>
<html>
<head>
  <title>Kiris Blog | Administration Dashboard Login</title>
  <link rel="shortcut icon" href="/images/favicon.png"/>
  <%= stylesheet_link_tag 'admin_screen', 'tablesorter' %>
  <%= csrf_meta_tag %>
</head>
<body>
     <div id="header">
      <div id="welcome">
        <%=link_to 'Login',new_user_session_path%>
      </div>
      <h3>
        <%= link_to image_tag("/images/Logo_main.png", :border => 0, :height=>"100px" ,:width=>"200px",:title => 'Kiris Blog'), root_path %>

      </h3>
    </div>

    <div class="tabless">
     <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">

       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="title">Login</div> <br />
          <%= render :partial=>'layouts/import_flash'%>
          <div class="section">
            <div class="label">Email:</div>
              <%= f.text_field :email, :size=>30 %>
            <div class="label"> Password:</div>
              <%= f.password_field :password, :size=>30 %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div style="margin-left: 12px;"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
            <% end -%>
          <br />
          <div class="buttonbar">
           <%= f.submit "Login", :disable_with => "Please wait..." %>
          </div>
        <% end %>
      </div>
    </div>
    <center>
      <div id="footer">
        Powered by <b><a href="http://www.indigenius.com/" onclick="window.open(this.href);return false;">
        Indigenius Solutions</a></b>
        © 2011-2012
      </div>

    </center>

</body>
</html>
