<%= javascript_include_tag "ckeditor/ckeditor" %>
<p>
  <table cellspacing="1" class="tablesorter"   style="width:50%;">
<%= form_for([:admin, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_area :title , :cols => 108, :rows=> 2%></td>
    </tr>


  </div>
  <div class="field">
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.cktext_area :description,  :width => 800, :height => 400 %></td>
    </tr>

  </div>
  <div class="actions">
    <tr>
      <td colspan="2"><%= f.submit %></td>
    </tr>

  </div>

<% end %>
      </table>
