<% title "Kiris Blog | Listing Articles" %>
<div class="list" id="template_category_list">
  <div class="list" id="admintable">
    <table width="100%">
      <tbody><tr><td align="left"><h3 align="left">Listing Articles</h3></td>
        <td align="right"><b><i>per page</i></b><%= per_page%> | <%= page_entries_info @articles %></td>
      </tr>
      </tbody>
    </table>

    <table cellspacing="1" class="tablesorter">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Comments</th>
        <th>Likes</th>
        <th>Unlikes</th>
        <th></th>

      </tr>
      </thead>
      <tbody>

      <% @articles.each do |article| %>
          <tr class="<%= cycle( 'even','odd') %>">
            <td><%= highlight(truncate(article.title, :length =>75), params[:search]) %></td>
            <td><%=highlight(raw(truncate(article.description, :length =>100)), params[:search]) %></td>
            <td><center><%= article.comments.count %></center></td>
            <td><center><%= article.feedback_yes %></center></td>
            <td><center><%= article.feedback_no %></center></td>
            <td><%= link_to 'Show', admin_article_path(article) %> | <%= link_to 'Edit', edit_admin_article_path(article) %> |

              </span> <i id = "status_<%= article.id %>">   <%= link_to article.status? ? "Active" : "Inactive",manage_article_status_admin_article_path(:id => article.id)  %> </i></td>
          </tr>
      <% end %>

      </tbody>
    </table>
    <div style="width:auto; clear:both; margin:10px 0px 10px 0px; float:right; color:#0066FF;">
      <h4 align="right"><%= will_paginate @articles%></h4>
    </div>

  </div>
</div>
