<% title "Kiris Blog |  Article" %>
<br />
<div class="title" style="border:none;"><span>Admin Details</span></div>
<table cellspacing="1" class="tablesorter" style="width:100%;">

  <tr><td width="10%"><b>Title</b></td>
    <td ><%= @article.title %></td></tr>
  <tr><td width="10%"><b>Description</b></td>
    <td ><%=raw(@article.description)%></td></tr>

  <tr><td width="10%"><b>Created at</b></td>
    <td ><%= distance_of_time_in_words_to_now(@article.created_at, include_seconds = true) %> ago</td></tr>
  <tr><td width="10%"><b>Updated at</b></td>
    <td ><%= distance_of_time_in_words_to_now(@article.updated_at, include_seconds = true) %> ago</td></tr>
</table>


<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>

<div class="list" id="template_category_list">
  <div class="list" id="admintable">


    <table cellspacing="1" class="tablesorter">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Description</th>
        <th>Status</th>

      </tr>
      </thead>
      <tbody>

      <%  @article.comments.each do |comment| %>
          <tr class="<%= cycle( 'even','odd') %>">
            <td><%= comment.name %></td>
            <td><%= comment.email %></td>
            <td><%=raw(truncate(comment.description, :length =>50)) %></td>
            <td>   </span> <i id = "status_<%= comment.id %>">   <%= link_to comment.status? ? "Active" : "Inactive",manage_comment_status_admin_article_path(:id => comment.id)  %> </i> </td>
          </tr>
      <% end %>

      </tbody>
    </table>


  </div>
  </div>

