<% title "Kiris Blog |  Comment" %>
<br />
<div class="title" style="border:none;"><span><%= @comment.article.title %></span></div>
<table cellspacing="1" class="tablesorter" style="width:100%;">

  <tr><td width="10%"><b>Name</b></td>
    <td ><%= @comment.name %></td></tr>
  <tr><td width="10%"><b>Email</b></td>
    <td ><%= @comment.email %></td></tr>
  <tr><td width="10%"><b>website</b></td>
    <td ><%= @comment.website %></td></tr>
  <tr><td width="10%"><b>Description</b></td>
    <td ><%=raw(@comment.description)%></td></tr>

  <tr><td width="10%"><b>Created at</b></td>
    <td ><%= distance_of_time_in_words_to_now(@comment.created_at, include_seconds = true) %> ago</td></tr>
  <tr><td width="10%"><b>Updated at</b></td>
    <td ><%= distance_of_time_in_words_to_now(@comment.updated_at, include_seconds = true) %> ago</td></tr>
</table>
