<h1>Listing admin_flash_games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_flash_games.each do |admin_flash_game| %>
  <tr>
    <td><%= admin_flash_game.name %></td>
    <td><%= admin_flash_game.code %></td>
    <td><%= link_to 'Show', admin_flash_game %></td>
    <td><%= link_to 'Edit', edit_admin_flash_game_path(admin_flash_game) %></td>
    <td><%= link_to 'Destroy', admin_flash_game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flash game', new_admin_flash_game_path %>
