<% title "Kiris Blog | Search Articles" %>
<% if @articles.blank?  %>
  <div class="post" style="padding: 67px 1px 820px 21px;">  <h2>
No results found</h2> </div>
<% else  %>

<% @articles.each do |article| %>
    <div class="post" style="padding-top: 57px;">
      <h3 class="date"><%= article.created_at.strftime("%B %d, %Y") %> </h3>
      <h2 class="title" style="color: #0066CC"> <%=  highlight(article.title, params[:search]) %></h2>

      <div class="entry">
        <p><%= raw highlight(article.description, params[:search]) %></p> <br/> <br/>
      </div>
      <p class="meta">
        <%= link_to "Read More ...",home_path(article.title),:class => "blue_button" %>  &nbsp; &nbsp; &nbsp; &nbsp;
        <%= link_to "View Comments ( #{article.comments.count})",home_path(article.title),:class => "blue_button" %>
      </p>

    </div>
<% end %>
<div style="width:auto; clear:both; margin:27px 23px 19px 228px;   color:#0066FF;">
  <h4  ><%= will_paginate @articles%></h4>
</div>

<% end   %>

<style>
    .highlight{
        background-color:yellow;
    }

</style>
