<% title "Kiris Blog | #{@article.title}" %>
<div class="left">
<meta name="description" content= "<%= @article.description.gsub(/<\/?[^>]*>/, "").gsub("&nbsp;"," ") %>">
<meta name="keywords" content="<%= @article.description.gsub(/<\/?[^>]*>/, "").gsub("&nbsp;"," ").split(" ")%>">
<div class="post" style="padding-top: 57px;">
   <h3 class="date"><%= @article.created_at.strftime("%B %d, %Y") %> </h3>
  <h2 class="title"><%= link_to @article.title,home_path(@article.title) %></h2> <br/>

  <div class="entry">
    <p><%= raw(@article.description) %></p>
  </div>
  <br/><br/><br/><br/>
  <div class="feedback" style="float: left">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Was this post usefull to you? &nbsp;&nbsp; <%= link_to "No", feedback_home_index_path(:feedback => "no", :id =>@article.id), :class => "yes blue_button",:remote => true, :id => "feedback_no"%>  <%= link_to "Yes", feedback_home_index_path(:feedback => "yes", :id =>@article.id), :class => "yes blue_button", :remote => true, :id => "feedback_yes"%>
  </div>
  <div class="after_feedback">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for your feedback.  <br/><br/><br/><br/>
  </div>
 <!--
  <div id="like_count" style="margin: -77px 1px 10px 450px;">
     <img src="/images/thumbs_up.jpg" alt="" style="margin: -22px 1px -27px -60px;"> <strong><h2 ><div id="feedback_yes_count" style="color: #337CBC;"> <%= @article.feedback_yes %></div></h2></strong>
     <img src="/images/thumbs_down.jpg" alt="" style="margin: -34px 0 1px 51px;"> <strong><h2 style="margin: -41px 1px 1px 115px;"><div id="feedback_no_count" style="color: #337CBC;"> <%= @article.feedback_no %></div></h2></strong>
  </div>
  -->
</div>

<div id="formbga">
  <div id="formbgb">
    <h2>Leave a Reply</h2>
    <%= form_for @comment, :url=> {:controller => "home", :action => "create"}, :validate => true do |f| %>

        <p style="margin:12px 0px; width: 540px;"><b> Name</b><br/><%= f.text_field :name, :class=>"text" %> </p>

        <p style="margin:12px 0px; width: 540px;"><b> Email </b> (never published)<br/><%= f.text_field :email, :class=>"text" %> </p>

        <p style="margin:12px 0px; width: 540px;"><b> Website</b> (optional)<br/><%= f.text_field :website, :class=>"text" %> </p>

        <p style="margin:12px 0px; width: 540px;"><b> Description</b><br/><%= f.text_area :description, :class=>"text", :rows => 4, :cols =>31 %> </p>
        <%= hidden_field_tag :title,  @article.title %>
        <p class="button" style="margin: 10px 1px 1px 92px;"><%= f.submit :class=>"blue_button", :value=>"Submit" %></p>
    <% end %>
  </div>
</div>
<div style="margin: 0px 0px 0px 60px; width: 575px;">
<% unless @comments.blank? %>
    <div style="clear: both;">&nbsp;</div>
    <h2>Comments</h2>   <br/>

    <ol class="commentList">
      <% @comments.each do |comment| %>
          <li>
            <div class="commentLeft">
              <div class="gravatarImage">
                <img height="50" width="50" src="http://www.gravatar.com/avatar/fcda9a8e93e866fc99179d2eacc26a25" alt="">
              </div>
            </div>
            <div class="commentRight">

              <p class="commentName"> <%= comment.name %> says:</p>
              <p class="commentCreated_at">  <%= comment.created_at.strftime("on %A, %B %dth, %Y ") %> </p>
              <div class="commentContent">
                <p><%= comment.description %></p>
              </div>

            </div>
            <div class="clear"></div>
          </li>     <br/>
      <% end %>
    </ol>


<% end %>
</div>


</div>
<div class="right">
  <div id="sidebar">
    <%= render "/layouts/sidebar" %>
  </div>
</div>


