<% title "Kiris Blog |  Users show" %>
<br />
<div class="title" style="border:none;"><span>Admin Details</span></div>
<table cellspacing="1" class="tablesorter" style="width:100%;">

  <tr><td width="10%"><b>First Name</b></td>
    <td ><%= @user.first_name %></td></tr>

  <tr><td width="10%"><b>Last Name</b></td>
      <td ><%= @user.last_name %></td></tr>
  <tr><td width="10%"><b>Username</b></td>
      <td ><%= @user.username %></td></tr>
  <tr><td width="10%"><b>Email</b></td>
      <td ><%= @user.email %></td></tr>
  <tr><td width="10%"><b>Created at</b></td>
    <td ><%= distance_of_time_in_words_to_now(@user.created_at, include_seconds = true) %> ago</td></tr>
  <tr><td width="10%"><b>Updated at</b></td>
    <td ><%= distance_of_time_in_words_to_now(@user.updated_at, include_seconds = true) %> ago</td></tr>
</table>



<%= link_to 'Back', admin_users_path %>




