<style>
    input.text{
        width: 226px;
    }
</style>
<div id="about-box"></div>
<ul>
  <li>
    <h2>Search Articles</h2>
    <ul>
      <li>
        <%= form_tag("/home/search", :method=>'get') do %>
            <table>
              <tr>
                <td><%= text_field_tag :search ,'',  :class=>"text"  %></td></tr>
              <tr> <br/><td align="center"><%= submit_tag "Search" ,:class => "blue_button"%> </td>
              </tr>
            </table>
        <% end %> </li>
    </ul>
  </li>
</ul>


<ul>
  <!-- this style will be remove on 2013 , this style is for open the tree view,  and class name replace with "trigger opened" to "trigger" -->
  <style>
    .level1{
        display: block;
    }
  </style>
  <br/>
  <li>
    <h2>Archive</h2>
    <ul>
      <li><div  >
        <% @articles_by_year.each do |year, posts| %>
            <a class="trigger opened" href="#"><%= year%> (<%= posts.count %> ) </a>
            <ul class="level1">
              <% posts.group_by { |post| post.created_at.strftime("%B") }.each do |month, articles| %>
                  <li><a class="trigger" href="#"><%= month %>  (<%= articles.count %>)</a>
                    <ul class="level2">
                      <% articles.each do |article| %>
                          <li style="width: 190px; "><%= link_to article.title, home_path(article.title), :title => article.title %></li>
                      <% end %>
                    </ul>
                  </li>
              <% end %>
            </ul>
            <div style="clear:both"></div>
        <% end %>
      </div></li>
    </ul>
  </li>


  <li>
    <h2>Recent Articles</h2>
    <ul>
      <% @recent_articles.each do |article| %>
          <li><%= link_to truncate(article.title, :length => 25),home_path(article.title), :title => article.title %></li>
      <% end %>
    </ul>
  </li>

  <br/>

  <li>
    <h2>Top Articles</h2>
    <ul>
      <% @top_articles.each do |article| %>
          <li><%= link_to truncate(article.title, :length => 25),home_path(article.title), :title => article.title %></li>
      <% end %>
    </ul>
  </li>
  <div  style="margin: 38px 0px 0px 0px;" >
    <ul>
      <li>
        <h2>Subscribe Articles</h2>
        <ul>
          <li>
            <%= form_for @subsciber, :url=> {:controller => "home", :action => "create_subscriber"}, :validate => true do |f| %>

                <p style="margin:12px 0px; width: 270px;"><b> Email</b><br/>  <%= f.text_field :email, :class=>"text"  %>  </p>

                <p class="button" style="margin: 10px 1px 1px 92px;"><%= f.submit :class=>"blue_button", :value=>"Subscribe" %></p>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>

<!--
  <li>
    <h2></h2>
    <ul>
      &lt;!&ndash;<iframe src="http://www.facebook.com/plugins/like.php?href=kiris.in&amp;layout=standard&amp;show_faces=true&amp;width=250&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>&ndash;&gt;
      <div style="border: 1px;">
        <iframe src="http://www.facebook.com/plugins/like.php?href=kiris.in&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>
      </div>
      <br/>
    </ul>
  </li>
-->
  <li>

    <ul style=" margin-left: 30px;">

    

 

    </ul>

  </li>

  <li>

    <ul style=" margin-left: 30px;">

          <!-- hitwebcounter Code START -->
    <!--<a href="http://www.hitwebcounter.com/" target="_blank">
      <img src="http://hitwebcounter.com/counter/counter.php?page=4453601&style=0005&nbdigits=6&type=ip&initCount=0" title="get counter for Freewebs.com" Alt="get counter for Freewebs.com"   border="0" >
    </a>-->
    <br>
    <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com/countersiteservices.php" title="Web Counter"
                                 target="_blank" style="font-family: Arial, Geneva , Helvetica, sans-serif;
          text-decoration: none ; color: #6D7A78; font-size: 12px;">
    <code> </code></a>
      <!-- hitwebcounter Code START -->
      <a href="http://www.hitwebcounter.com/" target="_blank">
      <img src="http://hitwebcounter.com/counter/counter.php?page=4453601&style=0019&nbdigits=6&type=ip&initCount=0" title="" Alt=""   border="0" >
      </a>


    </ul>

  </li>


</ul>


