<div  style="margin: 38px 0px 0px 0px;" >
        <%= form_tag("/home/search", :method=>'get') do %>
            <table>
              <tr>
                <td><%= text_field_tag :search ,'',:size => 16 %></td>
                <td><%= submit_tag "Search" ,:class => "blue_button"%> </td>
              </tr>
            </table>
        <% end %>
</div>
<div id="about-box">

</div>
<ul>

 <br/>
  <li>
    <h2>Archive</h2>
    <ul>
      <li><div  >
        <% @articles_by_year.each do |year, posts| %>
            <a class="trigger" href="#"><%= year%> (<%= posts.count %> ) </a>
            <ul class="level1">
              <% posts.group_by { |post| post.created_at.strftime("%B") }.each do |month, articles| %>
                  <li><a class="trigger" href="#"><%= month %>  (<%= articles.count %>)</a>
                    <ul class="level2">
                      <% articles.each do |article| %>
                          <li style="width: 190px; "><%= link_to article.title, home_path(article.title), :title => article.title %></li>
                      <% end %>
                    </ul>
                  </li>
              <% end %>
            </ul>
            <div style="clear:both"></div>
        <% end %>
      </div></li>
    </ul>
  </li>


  <li>
    <h2>Recent Articles</h2>
    <ul>
      <% @recent_articles.each do |article| %>
          <li><%= link_to truncate(article.title, :length => 25),home_path(article.title), :title => article.title %></li>
      <% end %>
    </ul>
  </li>

   <br/>

    <li>
    <h2>Top Articles</h2>
    <ul>
      <% @top_articles.each do |article| %>
          <li><%= link_to truncate(article.title, :length => 25),home_path(article.title), :title => article.title %></li>
      <% end %>
    </ul>
  </li>


  <li>
    <h2></h2>
    <ul>
       <!--<iframe src="http://www.facebook.com/plugins/like.php?href=kiris.in&amp;layout=standard&amp;show_faces=true&amp;width=250&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>-->
       <iframe src="http://www.facebook.com/plugins/like.php?href=kiris.in&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>
<br/>
        </ul>
  </li>

<!--
  <li>
    <h2>Recent Comments</h2>
    <ul>
      <li><a href="#">comment1</a></li>
      <li><a href="#">comment2</a></li>
      <li><a href="#">comment3</a></li>
      <li><a href="#">comment4</a></li>
      <li><a href="#">comment5</a></li>

    </ul>
  </li>
-->
     <br/><br/><br/><br/>
</ul>
