<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Kiris Blog</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'rails.validations' %>
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><%= link_to "MyBlog", root_path %></h1>
    <h2>By <a href="#">Kiran</a></h2>
  </div>
  <div id="menu">
    <%= render "/layouts/menu" %>
  </div>

</div>

<hr />
<div id="page">
  <div id="bg">
    <div id="content">
       <%= render "/layouts/import_flash" %>
      <%= yield %>
    </div>
    <!-- end contentn -->
    <div id="sidebar">
      <%= render "/layouts/sidebar" %>
    </div>
    <!-- end sidebar -->
    <div style="clear: both;">&nbsp;</div>
  </div>
</div>
<!-- end page -->
<hr />
<div id="footer">
  <p>(c) 2012 Myblog,  All rights reserved.</p>
</div>
</body>
</html>
