<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Kiris Blog</title>
  <%#= stylesheet_link_tag "default" %>
  <%= stylesheet_link_tag "stylesheet_main" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'rails.validations' %>
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body class="homebg">
<!--entire container starts-->
<div id="container">
  <!--header starts-->
  <div id="header">
    <div class="logo">
    <h1>  <%= link_to image_tag("/images/Logo_main.png"), root_path  %></h1>
    </div>
    <div class="right">
      <div id="navigation">
        <ul>
          <li class="first"><%= link_to "Home", root_path %></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li class="last"><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--header ends-->
  <!--middle starts-->
  <div id="middle_container">
    <div class="left">
      <%= render "/layouts/import_flash" %>
      <%= yield %>

    </div>

    <div class="right">
      <div id="sidebar">
        <%= render "/layouts/sidebar" %>
      </div>
    </div>

  </div>
  <!--middle ends-->
  <!--footer starts-->
  <div id="footer_container">
    <ul>
      <li class="first"><a href="/home">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li class="last"><a href="#">Contact Us</a></li>
    </ul>
    Kiris © 2012.All rights reserved
  </div>
  <!--footer ends-->
</div>
</body>
</html>
