<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


  <title> Kiris Blog</title>

  <%= stylesheet_link_tag "welcome", 'nivo-slider','nivo_default','nivo_style', :cache => "cache_styles" %>
  


  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body id="home">

<!-- Start HEADER -->
<div id="menu" style="float: right;">
  <ul id="nav">
    <li class="yellow"><%= link_to "Home", welcome_home_index_path %></li>
    <li class="blue"><%= link_to "Blog", home_index_path %></li>
    <li class="red"><%= link_to "About", about_me_home_index_path %></li>
    <li class="green"> <%= link_to "Contact", contact_me_home_index_path %></li>
  </ul>
</div>
<div id="header">

  <div id="logo" style="clear: left;">
    <img class="logo" src="/images/Logo_main.png" alt="kiris" width="274" height="105">
  </div>
</div>
<!-- End HEADER -->

<!-- Start FEATURE -->
<div id="header_curve"></div>
<!-- End FEATURE -->

<!-- Start CONTENT CONTAINER -->
<div id="wrapper">
  <div id="contentArea">
    <div id="wrapper1">
      <div class="slider-wrapper theme-default"  style="height:240px;">
        <div id="slider" class="nivoSlider">
          <img src="/images/slider/5.jpg" data-thumb="/images/toystory.jpg" alt="" />
          <a href="http://kiris.in"><img src="/images/slider/4.jpg" data-thumb="/images/slider/2.jpg" alt="" title="This is an example of a caption" /></a>
          <img src="/images/slider/6.jpg" data-thumb="/images/slider/02.jpg" alt="" data-transition="slideInLeft" />
          <img src="/images/slider/3.jpg" data-thumb="/images/slider/3.jpg" alt="" title="#htmlcaption" />
          <img src="/images/slider/7.jpg" />

        </div>
        <div id="htmlcaption" class="nivo-html-caption">
          <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="http://kiris.in">Read more</a>.
        </div>
      </div>
    </div>
    <%= render "/layouts/import_flash" %>


<!-- AddThis Button END -->

    <%= yield %>

  </div>
  <!-- END CONTENT -->
</div>
 
<div id="footerContainer">
        <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:10px;top:235px; border-radius: 8px 8px 8px 8px;">
<a class="addthis_button_facebook_like" fb:like:layout="box_count" addthis:url="http://kiris.in"></a>
<a class="addthis_button_tweet" tw:count="vertical" addthis:url="http://kiris.in"></a>
<a class="addthis_button_google_plusone" g:plusone:size="tall" addthis:url="http://kiris.in"></a>
<a class="addthis_counter"></a>
</div>
  <div id="footerArea"></div>
</div>
<!-- End FOOTER -->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-50028df1079f7e61"></script>
<%= javascript_include_tag :defaults, 'rails.validations','jquery.nivo.slider'  %>
 
 
</body>
</html>
